certifi==2017.7.27.1
changelog-cli==0.6.1
chardet==3.0.4
click==6.7
configparser==3.5.0
contextlib2==0.5.5
coverage==4.4.1
ddtrace==0.10.1
dj-database-url==0.4.2
Django==1.11.3
django-admin-interface==0.5.1
django-cachalot==1.5.0
django-choices==1.6.0
django-colorfield==0.1.14
django-constance==2.0.0
django-cors-headers==2.1.0
django-cors-middleware==1.3.1
django-debug-toolbar==1.8
django-flat-responsive==1.4.1
django-flat-theme==1.1.4
django-money==0.12
django-ordered-model==1.4.1
django-picklefield==1.0.0
django-rest-authemail==1.4.0
django-sendgrid-v5==0.6.85
django-stdimage==2.4.2
django-webpack-loader==0.5.0
djangorestframework==3.6.3
djangorestframework-jwt==1.11.0
enum34==1.1.6
flake8==3.4.1
gunicorn==19.7.1
idna==2.5
mccabe==0.6.1
msgpack-python==0.5.4
olefile==0.44
Pillow==4.2.1
progressbar2==3.34.2
psycopg2==2.7.3
py-moneyed==0.7.0
pycodestyle==2.3.1
pyflakes==1.5.0
PyJWT==1.5.2
pylibmc==1.5.2
python-decouple==3.0
python-gettext==3.0
python-http-client==3.0.0
python-utils==2.2.0
pytz==2017.2
raven==6.4.0
requests==2.18.2
sendgrid==5.3.0
six==1.10.0
sqlparse==0.2.3
urllib3==1.26.5
whitenoise==3.3.0
wrapt==1.10.11
