{% extends "base_email.html" %}
{% load i18n %}

{% block title %}{{ subject }}{% endblock %}
{% block pagetitle %}{{ subject }}{% endblock %}

{% block content %}
    <table width="100%" cellpadding="0" cellspacing="0"
           style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
            <td class="content-block"
                style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                valign="top">

                {% autoescape off %}
                {{ text_html }}
                {% endautoescape %}
            </td>
        </tr>
    </table>
{% endblock %}