{% extends "base_email.html" %}
{% load i18n %}

{% block title %}{% trans "Your team is now signed up" %}{% endblock %}
{% block pagetitle %}{% trans "Your team is now signed up" %}{% endblock %}

{% block content %}
    <table width="100%" cellpadding="0" cellspacing="0"
           style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
            <td class="content-block"
                style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                valign="top">

                {% blocktrans with name=team.complete_name %}
                    Your team {{ name }} is now successfully signed up.
                {% endblocktrans %}
            </td>
        </tr>
        {% if not team.paid %}
        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
            <td class="content-block"
                style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                valign="top">
                <p>
                {% blocktrans with amount=team.tournament.starting_fee %}
                     You still need to pay the starting fee of {{ amount }}
                {% endblocktrans %}</p>
                <p>{% trans "receiver" %}: {{ receiver_name }}</p>
                <p>IBAN: {{ iban }}</p>
                <p>BIC: {{ bic }}</p>
                <p>{% trans "reference" %}: {{ team.banking_reference }}</p>
            </td>
        </tr>
        {% endif %}
        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
            <td class="content-block"
                style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                valign="top">
                <a href="{{ host }}{{ team.url }}" class="btn-primary"
                   style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: capitalize; background-color: #348eda; margin: 0; border-color: #348eda; border-style: solid; border-width: 10px 20px;">{% trans "Edit Team" %}</a>
            </td>
        </tr>
        {% if team.tournament.has_additional_documents %}
        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
            <td class="content-block"
                style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                valign="top">
                <p>
                {% blocktrans %}
                     Also take a look at the additional documents.
                {% endblocktrans %}</p>
                {% for doc in team.tournament.documents.all %}
                    <p><a href="{{ doc.url }}">{{ doc.name }}</a></p>
                {% endfor %}
            </td>
        </tr>
        {% endif %}
    </table>
{% endblock %}