{% load render_bundle from webpack_loader %}
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% trans "Beach Registration" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="icon" href="/static/assets/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/static/assets/favicon.ico" type="image/x-icon"/>

    {% render_bundle 'app' 'css' %}
</head>

<body>
<div id="app"></div>
{% if debug == False %}
    <script type="text/javascript" src="http://localhost:8080/app.js"></script>
{% else %}
    {% render_bundle 'manifest' 'js' %}
    {% render_bundle 'vendor' 'js' %}
    {% render_bundle 'app' 'js' %}
{% endif %}
</body>

</html>
