.footer-wrap {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  & > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    & > a {
      align-self: flex-start
    }
  }

  .footer {
    padding: 30px 20vw;
    background: rgb(0, 0, 0);
    color: #FDD648;

    .footer-paragraph {
      font-size: 14px;
      &, p {
        color: inherit;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0.4em;
      }

      &, a {
        &, &:hover, &:visited, &:focus, &:active {
          color: inherit;
          text-decoration: none;
        }

        -webkit-margin-before: 0;
        -webkit-margin-after: 0.4em;
      }

      &.footer-paragrap-copyright {
        font-size: 13px;
      }
    }
  }
}