.team-card {
  margin-bottom: 20px;
  cursor: pointer;

  .header, .body {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .header {
    justify-content: space-between;

    .team-name {
      font-size: 20px;
    }

    .team-status {
      font-size: 15px;

      .team-status-positive {
        margin-left: 5px;
        color: #67c23a;
      }
      .team-status-negative {
        margin-left: 5px;
        color: #fa5555;
      }
    }
  }

  .body {
    justify-content: space-between;
    span {
      margin-right: 10px;
    }
  }
}